.aboutus {
  width: 80%;
  height: 90%;
  font-size: 30px;
  text-align: justify;
}
.abtus {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../multi-cars-in-parking.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.aboutus:hover {
  width: 80%;
  height: 90%;
  font-size: 33px;
}
