.seat {
  width: 39px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  font-size: 14px;
  transition-duration: 0.4s;
  text-align: center;
  padding: 5px;
}

.seat:hover {
  width: 42px;
  height: 42px;

  background-color: rgb(43, 255, 0);
}
